<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>English</string>
    <key>CFBundleExecutable</key><string>WebKit</string>
    <key>CFBundleIconFile</key><string>webkit.icns</string>
    <key>CFBundleIdentifier</key><string>org.webkit.nightly.snowleopard</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>WebKit</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>610.1.15</string>
    <key>CFBundleSignature</key><string>wbkt</string>
    <key>CFBundleVersion</key><string>610.1.15</string>
    <key>LSMinimumSystemVersion</key><string>10.6</string>
</dict>
</plist>
